html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    background-color:rgba(0,0,0,0.2) ;
   
   /*  color: hsl(30, 38%, 92%); */
    
    /* ### Neutral 
    
   
     color;: hsl(228, 12%, 48%) */
   /* background-color: hsl(0, 0%, 100%)
    */
   
}
.img1{
    width: 250px;
    height:430px;
    float: left;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
    margin-right: 20px;
    
}
h4{
    margin: 20px;
   padding-top: 30px;
   letter-spacing: 7px;
   text-align: start;

   
   color: hsl(228, 12%, 48%);
  
 }
.head{
    width: 550px;
    height:430px;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    text-align: center;
   
}
h1{
    padding-right: 7px;
    font-size:39px;
    margin: 2px;
    text-align: start;
   
    /* */
   
    
}
p{
    font-size: 14px;
    padding-right: 20px;
    color: hsl(228, 12%, 48%);
    text-align: start;
}
ins{
    font-size: 30px;
    color:  hsl(158, 36%, 37%);
    font-weight:600;
}
del{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    padding-left: 20px;
}
button{
    background-color: hsl(158, 100%, 15%);
   color:  rgb(252, 252, 252);
   border:1px solid hsl(158, 100%, 15%);
   padding: 15px;
   width: 250px;
   border-radius: 7px;
   font-size: 17px;
  
   background-repeat: no-repeat;   
}
img{
    padding-right: 10px;
}


